<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1271750005-c35r288rk1d1ei665rjhev9s9cbq3cv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1271750005-c35r288rk1d1ei665rjhev9s9cbq3cv0</string>
	<key>API_KEY</key>
	<string>AIzaSyADJQPIIe2zImrRxGl2lU2YdBKox6qwEnI</string>
	<key>GCM_SENDER_ID</key>
	<string>1271750005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.World.Login</string>
	<key>PROJECT_ID</key>
	<string>login-6d001</string>
	<key>STORAGE_BUCKET</key>
	<string>login-6d001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1271750005:ios:15a3064f65e8a76ccf873c</string>
</dict>
</plist>